body{
  background: #2575fc;
  background: -webkit-linear-gradient(left, #990000, #2575fc);
  background: -o-linear-gradient(left, #990000, #2575fc);
  background: -moz-linear-gradient(left, #990000, #2575fc);
  background: linear-gradient(left, #990000, #2575fc);
  overflow:hidden;
}
#view{
  font-family: Roboto,sans-serif;
  position: fixed;
  top: 30%;
  left: 34%;
  padding: 20px;
  width: 32%;
  background: #990000;
  background: -webkit-linear-gradient(right, #6a11cb, #990000);
  background: -o-linear-gradient(right, #6a11cb, #990000);
  background: -moz-linear-gradient(right, #6a11cb, #990000);
  background: linear-gradient(right, #6a11cb, #990000);
  color: #fff;
  z-index: 999999;
  display: none;
}
#closeView{
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 15px;
  height: 0px;
}
.popup-fade:before{
  content: '';
  background: #000;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  z-index: 9998;
  opacity: 0.5;
  animation: fadeIn2 1s;
}
.loader{
  position: fixed;
  top: 50%;
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
  z-index: 99999;
  animation: fadeIn 1s;
}
.inner{
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}
.inner.one{
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}
.inner.two{
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}
.inner.three{
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}
@keyframes rotate-one{
  0%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two{
  0%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three{
  0%{
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.table{
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}
.th{
  background: #990000;
  color: white;
  text-shadow: 0 1px 1px #2D2020;
  padding: 10px 0px;
}
.th, .td{
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}
.th:first-child{
  border-top-left-radius: 10px;
}
.th:last-child{
  border-top-right-radius: 10px;
  border-right: none;
}
.td{
  padding: 5px 0px;
  background: #000;
  color: #fff;
  cursor:help;
}
.thOpacity{
  opacity: 0;
}
.trOpacity:not(:first-child){
  opacity: 0;
}
.tr:last-child .td:first-child{
  border-radius: 0 0 0 10px;
}
.tr:last-child .td:last-child{
  border-radius: 0 0 10px 0;
}
.tr .td:last-child{
  border-right: none;
}
.trash{
  cursor: pointer;
}
.link{
  cursor: pointer;
}
.fade{
  animation: fadeIn 1s;
}
.trSvgIframeNone{
  display: none;
}
.trSvgIframeBlock{
  animation: fadeIn 1s;
}
@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@keyframes fadeIn2{
  from{
    opacity:0;
  }
  to{
    opacity:0.5;
  }
}
.fadeOut{
  animation: fadeOut 1s;
}
@keyframes fadeOut{
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}
.fadeOut2{
  animation: fadeOut 1s;
}
@keyframes fadeOut2{
  from{
    opacity:0.5;
  }
  to{
    opacity:0;
  }
}
.input{
  width: 200px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #fff;
  background: rgba(0,0,0,0);
  outline: none;
  position: relative;
  transition: .3s linear;
  cursor: pointer;
  color: #fff;
  animation: fadeIn 1s;
}
.input:focus{
  width: 250px;
}
.button{
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
  display:none;
}
.button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
#iFrameID{
  display: none;
}
.h4{
  opacity:0;
}
#pagination{
  color: white;
  position: absolute;
  right: 5%;
}
big{
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
}
big:hover:not(#active){
  background-color: #ddd;
  border-radius: 5px;
  color: black;
}
#active{
  background-color: black;
  color: white;
  border-radius: 5px;
}